header {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
}

.form-section {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.list-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
  min-width: 25rem;
}

.list-section input {
  width: 50%;
}

footer {
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
}